<% if list.empty? %>
<%=  empty_collection_message("No #{Summary.model_name.human(count: :many).s} found.") %>
<% else %>
   <table class="listGrid">
     <tr>
       <th class="listActionsCol"></th>
       <th><%= Language.model_name.human.titleize.s %></th>
       <th><%= Citation.model_name.human(:count => :many).titleize.s %></th>
     </tr>
<%   list.each do |item| %>
     <tr>
       <td class="centerText">
<%=      list_actions_for_item(item, delete_path: admin_feature_summary_path(item.feature, item),
         edit_path: edit_admin_feature_summary_path(item.feature, item),
         view_path: admin_feature_summary_path(item.feature, item)) %>
       </td>
       <td><%= item.language.name %></td>
       <td><%= accordion_citation_list_fieldset(object: item) %></td>
     </tr>
<%   end %>
   </table>
<% end %>
