<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@object.feature)
   add_breadcrumb_item link_to(Summary.model_name.human(:count => :many).s, admin_feature_summaries_path(@object.feature))
   add_breadcrumb_item @object.id %>
<p id="notice"><%= notice %></p>
<br class="clear"/>
<fieldset>
  <legend><%= "#{Summary.model_name.human.titleize.s} #{edit_item_link @object}".html_safe %></legend>
  <span class='by'><%= ' by ' %></span>
  <span class='content_by'><%= @object.author.fullname %></span>
  <div class="row">
    <span><%= def_if_blank(@object, :content).html_safe %></span>
  </div>
  <div class="row">
    <label><%= Language.model_name.human.titleize.s %></label>
    <span><%= def_if_blank(@object, :language, :name) %></span>
  </div>
</fieldset>