<%= render partial: 'breadcrumbs' %>
<%  add_breadcrumb_item ts('new.this') %>
<%= form_for [:admin, object] do |f| %>
<%=   f.hidden_field :citable_id %>
<%=   hidden_field_tag 'citation[citable_type]', parent_type %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= ts(:for, what: Citation.model_name.human.titleize, whom: parent_object) %></h6>
  </div>
  <div class="panel-body">
<fieldset>
	<div class="row">
<%=   label :info_source_type, InfoSource.human_attribute_name(:info_source_type).s %>
<%=   select_tag(:info_source_type, options_for_select([['Document or Online Resource ID from MMS application','MmsIntegration::Medium'],['Oral source', 'OralSource']], 'MmsIntegration::Medium')) %>
	</div>
	<div class="row mms">
<%=   f.label(:info_source_id).s %>
<%=   f.text_field :info_source_id, :class => :text %>
	</div>
	<div class="row oral">
<%=   f.label(:info_source_id).s %>
<%=   f.collection_select :info_source_id, OralSource.all.order(:name), :id, :name, :include_blank=> false %>
	</div>
<%=   render partial: 'form_fields', locals: {f: f, object: object} %>
<%    feature = contextual_feature %>
<%=   link_to ts('cancel.this'), feature.nil? ? collection_path : admin_feature_path(feature.fid), class: 'btn btn-primary form-submit', id: 'edit-cancel' %> | <%= globalized_submit_tag 'creat.e.this', class: 'btn btn-primary form-submit' %>
<%  end %>
</fieldset>
<%= javascript_on_load do %>
  	  $(".oral").hide();
  	  $(".oral > select")[0].disabled = true;
      $("#info_source_type").change(function() { 
	    if ($("#info_source_type").val()=="MmsIntegration::Medium") {
  	      $(".oral").hide();
  	      $(".oral > select")[0].disabled = true;
	      $(".mms > input")[0].disabled = false;
	      $(".mms").show();
	    } else {
	      $(".mms").hide();
	      $(".oral > select")[0].disabled = false;
	      $(".mms > input")[0].disabled = true;
	      $(".oral").show();
		}
      });
<%  end %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
