<%  add_breadcrumb_items feature_link(object), ts('edit.this') %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= "#{Feature.model_name.human.titleize.s}: #{object.name}" %></h6>
  </div>
  <div class="panel-body">
<%= form_for object, url: admin_feature_path(object.fid), method: :put do |f| %>
<%=   render partial: 'form_fields', locals: {f: f} %>
<%=   link_to ts('cancel.this'), admin_feature_path(object.fid), class: 'btn btn-primary form-submit', id: 'edit-cancel' %>
| <%= globalized_submit_tag 'update.this', class: 'btn btn-primary form-submit' %>
<%  end %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
