<%  add_breadcrumb_items ts('new.this') %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= "#{Feature.model_name.human.titleize.s}: #{object.name}" %></h6>
  </div>
  <div class="panel-body">
<%= form_for object, url: collection_path do |f| %>
<%=   render partial: 'form_fields', locals: {f: f} %>
<%=   fields_for @name do |name_fields| %>
<%=     render partial: 'admin/feature_names/form_fields', locals: {f: name_fields} %>
<%    end %>
<%=   fields_for @relation do |relation_fields| %>
      <fieldset>
        <legend><%= ts(:for, what: t('relat.ion.this.one').titleize, whom: fname_labels(@parent)) %></legend>
<%=     relation_fields.hidden_field :parent_node_id %>
        <div class="row">
<%=       relation_fields.label :feature_relation_type_id, FeatureRelationType.model_name.human.titleize.s %>
<%=       relation_fields.select :feature_relation_type_id, FeatureRelationType.order(:asymmetric_label).collect { |t| [ t.is_symmetric? ? t.label : t.asymmetric_label, t.id ] }, {}, class: 'form-control form-select ss-select selectpicker' %>
<%=       fname_labels(@parent) %>
        </div>
        <div class="row">
<%=       relation_fields.label :perspective_id, Perspective.model_name.human.titleize.s %>
<%=       relation_fields.collection_select :perspective_id, @perspectives, :id, :name, {}, class: 'form-control form-select ss-select selectpicker' %>
        </div>
      </fieldset>
<%    end %>
<%=   link_to ts('cancel.this'), collection_path, class: 'btn btn-primary form-submit', id: 'edit-cancel' %> | <%= globalized_submit_tag 'creat.e.this', class: ['submit', 'btn btn-primary form-submit'] %>
<%  end %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
