<% if list.empty? %>
<%=  empty_collection_message %>
<% else %>
   <table class="listGrid">
     <tr>
       <th class="listActionsCol"></th>
       <th><%= Feature.model_name.human.titleize.s %></th>
       <th><%= Language.model_name.human.titleize.s %></th>
       <th><%= Caption.model_name.human.titleize.s %></th>
     </tr>
<%   list.each do |item| %>
     <tr>
       <td class="centerText">
<%=      list_actions_for_item(item, :delete_path => admin_feature_caption_path(item.feature, item),
         :edit_path => edit_admin_feature_caption_path(item.feature, item),
         :view_path => admin_feature_caption_path(item.feature, item)) %>
       </td>
       <td><%= item.feature %></td>
       <td><%= item.language.name %></td>
       <td><%= item.content.html_safe %></td>
     </tr>
<%   end %>
   </table>
<% end %>