<% add_breadcrumb_item feature_link(object.feature)
   add_breadcrumb_item link_to(Affiliation.model_name.human(count: :many).s, admin_feature_affiliations_path(object.feature))
   add_breadcrumb_item link_to(object.id, object_path)
   add_breadcrumb_item ts('edit.this') %>
<br class="clear"/>
<section class="panel panel-content">
  <div class="panel-heading">
<h6><%= ts 'edit.ing.record', what: "#{Affiliation.model_name.human.titleize} #{object.id}" %></h6>
  </div>
  <div class="panel-body">
<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this citation from being saved:</h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<fieldset>
<%= form_for [:admin, object.feature, object] do |f| %>
<%=  render partial: 'form_fields', locals: {f: f} %>
     <p><%=  link_to ts('cancel.this'), admin_feature_path(parent_object.fid), class: 'btn btn-primary form-submit', id: 'edit-cancel' %> | <%= globalized_submit_tag 'update.this', class: 'btn btn-primary form-submit' %></p>
<% end %>
</fieldset>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
