<%= tinymce_assets %>
<%= tinymce %>
<%= error_messages_for 'blurb' %>
<fieldset>
	<div class="row">
<%=   f.label(:title).s %>
<%=   f.text_field :title, class: [:text, 'text-full form-control form-text'] %>
	</div>
	<div class="row">
<%=   f.label(:code).s %>
<%=   f.text_field :code, class: [:text, 'text-full form-control form-text'] %>
	</div>
	<div class="row">
<%=   f.label(:content).s %>
	</div>
	<div class="row">
<%=   f.text_area :content, rows: 4, class: 'tinymce' %>
	</div>
</fieldset>
