<%= tinymce_assets %>
<%= tinymce %>
<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= model_name %> from being saved:</h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<fieldset>
  <div class="row">
<%= f.label(:name).s %>
<%= f.text_field :name, class: [:text, 'text-full form-control form-text'] %>
  </div>
  <div class="row">
<%= f.label(:code).s %>
<%= f.text_field :code, class: [:text, 'text-full form-control form-text'] %>
  </div>
  <div class="row">
<%= f.label(:description).s %>
  </div>
  <div class="row">
<%= f.text_area :description, rows: 4, class: 'tinymce' %>
  </div>
</fieldset>
