<%= content_tag :h6, "#{feature_name_header(feature)} #{edit_item_link(admin_feature_path(feature.fid)) if logged_in? && object_authorized?(feature)}".html_safe %>
<%= time_units_for(feature) %>
<%= render partial: 'summaries', locals: { feature: feature } %>
<%  illustration = feature.illustration
    if !illustration.nil?
      picture = illustration.picture
      place = illustration.place
      if place.nil?
        location = nil
      else
        location = link_to place.header, PlacesIntegration::Feature.element_url(place.id, format: '')
        location_plain = place.header
        parent_place = place.context_feature
        if !parent_place.nil?
          location << ", #{link_to parent_place.header, PlacesIntegration::Feature.element_url(parent_place.id, format: '')}".html_safe
          location_plain << ", #{parent_place.header}"
        end
      end
      if picture.caption.nil?
        if location.nil?
          caption = nil
          caption_plain = nil
        else
          caption = location
          caption_plain = location_plain
        end
      else
        caption = picture.caption.html_safe
        caption_plain = picture.caption.strip_tags
        if !location.nil?
          caption << " (#{location})"
          caption_plain << " (#{location_plain})"
        end
      end %>
      <div class="resource-overview-image">
<%    html_options = { class: 'img-responsive img-thumbnail' }
      html_options[:alt] = caption_plain if !caption_plain.nil?
			if picture.instance_of? ShantiIntegration::Image
				rendered_width = 200
			else
	      rendered_width = picture.width.nil? || picture.width>576 ? 576 : picture.width
			end
      html_options[:width] = rendered_width
      if picture.instance_of?(ExternalPicture) %>
<%=     link_to image_tag(picture.url, html_options), picture.url %>
<%    else %>
<%=     link_to image_tag(illustration.thumb_url, html_options), illustration.picture_url %>
<%    end
      if !caption_plain.nil? %>
        <p class = "view-on-map"><%= caption_plain %></p>
<%    end %>
      </div> <!-- END resource-overview-image -->
<%  end %>
<%= render partial: 'essays', locals: { feature: feature } %>
<div id="accordion" class="panel-group">
<%= render partial: 'common_accordions', locals: { feature: feature, show_old_pid: show_old_pid } %>
</div>
<%= javascript_on_load do %>
      jQuery('[data-js-kmaps-popup]').kmapsPopup({
        type: POPUP_TYPE_INFO,
      });
<%  end %>