<div id="FeatureDetails">
<%= content_tag :h2, "#{feature_name_header(feature)} #{edit_item_link(admin_feature_path(feature)) if logged_in?}".html_safe %>
<%= time_units_for(feature) %>
<%  summary = feature.summary
    if !summary.nil? %>
      <p>&nbsp;</p>
<%=   summary.content.html_safe %>
<%  end
    illustration = feature.illustration
    if !illustration.nil?
	  picture = illustration.picture
	  rendered_height = 200
	  rendered_width = picture.width.nil? || picture.height.nil? ? nil : picture.width * rendered_height / picture.height %>
	  <p>&nbsp;</p>
	  <div id="gallery"><div id="illustration"<%= " style=\"width:#{rendered_width}px;\"".html_safe if !rendered_width.nil? %>>
<%    if picture.instance_of?(MmsIntegration::Picture) %>
<%=     link_to image_tag(picture.url, :height => rendered_height), MmsIntegration::Medium.element_url(picture.id, :format => 'html') %>
<%    else %>
<%=     link_to image_tag(picture.url, :height => rendered_height), picture.url %>
<%    end
      place = illustration.place
      if place.nil?
	    location = nil
	  else
	    location = link_to place.header, PlacesIntegration::Feature.element_url(place.id, :format => 'html')
	    parent_place = place.context_feature
	    location << ", #{link_to parent_place.header, PlacesIntegration::Feature.element_url(parent_place.id, :format => 'html')}".html_safe if !parent_place.nil?
	  end
      if picture.caption.nil?
        if !location.nil? %>
          <p class = "view-on-map"><%= location %></p>
<%      end
      else %>
        <p class = "view-on-map">
<%=       picture.caption.html_safe %>
<%        if !location.nil? %>
            (<%= location %>)
<%        end %>
        </p>
<%    end %>
      </div></div>
	  <div style="clear: both;"></div>
<%  end %>
<%  associated_resources = []
    count = feature.descriptions.size
    associated_resources << [Description.model_name.human(:count => count).titleize.s, count, feature_description_path(feature.fid, feature.descriptions.first)] if count > 0
    count = feature.feature_count
    associated_resources << [ts(:place, :count => count), count, kmaps_url(feature)] if count > 0
    count = feature.media_count(:type => 'Picture')
    associated_resources << [MmsIntegration::Picture.human_name(:count => count).titleize.s, count, pictures_url(feature)] if count > 0
    count = feature.media_count(:type => 'Video')
    associated_resources << [ts(:video, :count => count), count, videos_url(feature)] if count > 0
    count = feature.media_count(:type => 'Document')
    associated_resources << [MmsIntegration::Document.human_name(:count => count).titleize.s, count, documents_url(feature)] if count > 0
    if associated_resources.size > 0 %>
      <h3><%= ts 'associate.d.record', :what => MmsIntegration::Medium.human_name(:count => :many).titleize %></h3>
      <ul><%= associated_resources.collect{|ar| "<li>" + link_to("#{ar[0]} (#{ar[1]})".html_safe, ar[2]) + "</li>" }.join('').html_safe %></ul>
<%  end %>
    <p>
      <br />
<%=   button_to t('view.record', :what => t('more.record', :what => t('feature.detail', :count => :many))), {}, onclick: "$('#more_feature_detail').show(); $(this).hide(); $('#less_feature_detail_button').show(); if (typeof(frame_service) != 'undefined') frame_service.set_iframe_height(); return false".html_safe, :id => "more_feature_detail_button", :style => ("display:none;" if current_show_feature_details) %>
<%=   button_to t(:hide, :what => t('feature.detail', :count => :many)), {}, onclick: "$('#more_feature_detail').hide(); $(this).hide(); $('#more_feature_detail_button').show(); return false;".html_safe, :id => "less_feature_detail_button", :style => ("display:none;" unless current_show_feature_details) %>
    </p>
    <div id="more_feature_detail" style="<%= "display: none;" unless current_show_feature_details %>">
    <h3><%= FeatureName.model_name.human(:count => feature.names.size).titleize.s %></h3>
<%= feature_name_ul(feature,false) %>
    <dl class="no-style">
<%  feature.names.roots.order('position').each do |name| %>
<%=   "<dt><strong>#{ts(:for, :what => FeatureName.human_attribute_name(:etymology), :whom => name.name.to_s)}:</dt></strong><dd>#{name.etymology.to_s.s}</dd>".html_safe unless name.etymology.blank? %>
<%  end %>
    </dl>
<%= note_popup_link_list_for(feature, {:association_type => FeatureName.name}) %>
    <h3><%= ts 'id.this', :count => :many %></h3>
<%  if show_old_pid %>
      <p><%= "#{ts :current, :what => Feature.human_attribute_name(:pid)}: #{feature.pid}" %></p>
      <p><%= "#{Feature.human_attribute_name(:old_pid).s}: #{feature.old_pid}" %></p>
<%  else %>
      <p><%= "#{Feature.human_attribute_name(:pid).s}: #{feature.pid}" %></p>
<%  end %>
<%  feature.geo_codes.each do |geo_code| %>
    <p>
<%=   geo_code %>: <%= geo_code.geo_code_value %>
<%=   note_popup_link_for(geo_code) %>
<%=   time_units_for(geo_code) %>
    </p>
<%  end %>
<%= note_popup_link_list_for(feature, {:association_type => FeatureGeoCode.name}) %>
    </div>
</div>
<br class="clear"/>