<%= javascript_on_load do %>
      jQuery(document).ready(function() { jQuery('.pagination a').attr('data-remote', true); });
<%  end %>
<p>
  <ul class="normal">
<%  @relations.each do |relation| %>
    <li>
<%    feature = @feature_is_parent==0 ? relation.parent_node : relation.child_node %>
<%=   "#{f_link(feature, feature_path(feature.fid), {}, {:s => true})} (#{ts :from, :where => t(:perspective, :what => relation.perspective)})".html_safe %>
<%=   note_popup_link_for(relation) %>
<%=   time_units_for(relation) %>
    </li>
<%  end %>
    <li class="pagination" style="text-align:left !important;">
<%  pagination = will_paginate @relations, :params => @params, :container => false 
    unless pagination.nil? %>
<%=   pagination %>
      <span style='color:#aaa'><%= ts :for, :what => '', :whom => t('feature.record', :what => @feature_is_parent==0 ? @feature_relation_type.asymmetric_label : @feature_relation_type.label, :count => @total_relations_count) %></span>
<%  end %>
    </li>
  </ul>
<%= note_popup_link_list_for(@feature, {:association_type => FeatureRelation.model_name}) %>
</p>