<%= javascript_on_load do %>
  // Ajaxify the pagination for lists of features
  jQuery('.has-ajax-pagination .pagination a').on('click', function() {
    var this_link = this;
    jQuery.ajax({
      type: 'POST',
      url: this.href,
      success: function(html){
        jQuery(this_link).parents('.pagination-click-results:first').html(html);
      }
    });
    return false;
  });

  // Since clicking on links of the form "/features#59" would normally just change the url
  // hash and not change the page content, we need to send these links to NodeTree.showNode(id),
  // which opens up the specified feature. 
  jQuery('.has-hash-feature-links a[href*=\\/features#]').on('click', function(){
    var id = this.href.match(/features#([\d]+)$/);
    if(id){
      id = id[1];
      NodeTree.showNode(id);
    }
    return true;
  });
<% end %>
<script type="text/javascript">
// This is a switch that we can turn off when we "Expand/collapse all" to allow more than one
// Ajax div to be open at once.
var accordion_enabled = true;

function on_click(ajax_div_id){
  var ajax_div = $('#'+ajax_div_id);
  var link_parent = ajax_div.prev('p').find('a');
  var toggle_speed = 300;
  // This is used after ajax_div.toggle(), so it is the opposite of the current state.
  var is_hidden = !(ajax_div.css('display') == 'none');
  
  // Toggle the Ajax div
  ajax_div.toggle(toggle_speed);

  if(accordion_enabled){
    // Hide all of the other Ajax divs and switch their "expanded/contracted" state.
    $('.related-feature-list').not('#'+ajax_div_id)
      .hide(toggle_speed)
      .prev('p').find('a').removeClass('expandable-link-expanded').addClass('expandable-link-contracted');
  }

  // Change the Ajax div's "expanded/contracted" state.
  if(is_hidden){
  link_parent.removeClass('expandable-link-expanded').addClass('expandable-link-contracted');
  }else{
  link_parent.removeClass('expandable-link-contracted').addClass('expandable-link-expanded');
  }

  // If the ajax_div is now hidden, return false so that the Ajax isn't called again.
  if(is_hidden){
  return false;
  }
  return true;
}

function expand_all(){
  accordion_enabled = false;
  $('.related-features .expandable-link-contracted').click();
  accordion_enabled = true;
  $('.collapse-all').show();
  $('.expand-all').hide();
}

function collapse_all(){
  accordion_enabled = false;
  $('.related-features .expandable-link-expanded').click();
  accordion_enabled = true;
  $('.expand-all').show();
  $('.collapse-all').hide();
}
</script>
<% parent_relation_counts = FeatureRelation.select('feature_relation_type_id, COUNT(DISTINCT id) as count').where(:child_node_id => @feature.id).group('feature_relation_type_id').order('feature_relation_type_id')
   child_relation_counts = FeatureRelation.select('feature_relation_type_id, COUNT(DISTINCT id) as count').where(:parent_node_id => @feature.id).group('feature_relation_type_id').order('feature_relation_type_id')
   if parent_relation_counts.length + child_relation_counts.length > 0 %>
     <p>
<%=    link_to_function ts('tree.expand', :what => t('all.these')), "expand_all()", :class => "expand-all expandable-link-contracted", :style => "font-weight:bold;font-variant:small-caps;" %>
<%=    link_to_function ts('tree.collapse', :what => t('all.these')), "collapse_all()", :class => "collapse-all expandable-link-expanded", :style => "font-weight:bold;font-variant:small-caps;display:none;" %>
     </p>
     <div class="related-features has-ajax-pagination has-hash-feature-links">
	 <h3><%= fname_labels(@feature).s %></h3>
<%   parent_relation_counts.each do |rc|
       feature_relation_type = rc.feature_relation_type
       count = rc.count.to_i
       div_id = "list_#{feature_relation_type.id}_0" %>
       <p><strong><%= link_to feature_relation_type.asymmetric_label.capitalize, related_list_feature_path(@feature.id, :feature_relation_type_id => feature_relation_type.id, :feature_is_parent => 0), :remote => true, :id => "link_#{div_id}", :class => 'expandable-link-contracted' %></strong> (<%= count %>):</p>
       <div id="<%= div_id %>" style="display:none;" class="related-feature-list pagination-click-results"></div>
<%=    javascript_tag("$('#link_#{div_id}').bind('ajax:beforeSend', function(){ if(!on_click('#{div_id}')) return false; });") %>
<%   end %>
<%   child_relation_counts.each do |rc|
       feature_relation_type = rc.feature_relation_type
       count = rc.count.to_i
       div_id = "list_#{feature_relation_type.id}_1" %>
       <p><strong><%= link_to feature_relation_type.label.capitalize, related_list_feature_path(@feature.id, :feature_relation_type_id => feature_relation_type.id, :feature_is_parent => 1), :remote => true, :id => "link_#{div_id}", :class => 'expandable-link-contracted' %></strong> (<%= count %>):</p>
       <div id="<%= div_id %>" style="display:none;" class="related-feature-list pagination-click-results"></div>
<%=    javascript_tag("$('#link_#{div_id}').bind('ajax:beforeSend', function(){ if(!on_click('#{div_id}')) return false; });") %>
<%   end %>
   </div>
<br />
<p>
<%= link_to_function ts('tree.expand', :what => t('all.these')), "expand_all()", :class => "expand-all expandable-link-contracted", :style => "font-weight:bold;font-variant:small-caps;" %>
<%= link_to_function ts('tree.collapse', :what => t('all.these')), "collapse_all()", :class => "collapse-all expandable-link-expanded", :style => "font-weight:bold;font-variant:small-caps;display:none;" %>
</p>
<% else %>
     <p><%= ts 'snippet.feature.not.related' %></p>
<% end %>