<ul>
	<li><h3>Main Menu</h3><a class="link-blocker"></a></li>
	<li>
		<a href="#">Preferences <span class="fa arrow"></span></a>
		<ul>
			<!-- header -->
			<li><h3>Preferences</h3></li>
			<li><a href="#">Site Language <span class="fa plus-times"></span></a>
				<ul>
<%=               render 'public/language_list' %>
				</ul>
			</li>
			<!-- header -->
			<li><a href="#"><%= Perspective.model_name.human.titleize.s %> <span class="fa plus-times"></span></a>
				<ul>
<%=               render 'public/perspective_list' %>
				</ul>
			</li>
			<!-- header -->
			<li><a href="#"><%= View.model_name.human.titleize.s %> <span class="fa plus-times"></span></a>
				<ul>
<%=               render 'public/view_list' %>
				</ul>
			</li>
		</ul>
	</li>
<%  if logged_in? %>
	  <li><%= link_to 'Admin', admin_root_path, {:hreflang => 'Manage controlled lists.'} %></li>
<%  end %>
	<li><%= login_status %></li>
</ul>