<%	lang_path = change_language_session_path('a').chop %>
<%= javascript_on_load("$('body').on('ifChecked', 'input.optionlang', function() { window.location.pathname = '#{lang_path}' + $(this).val(); });") %>
<!-- LOAD menus -->
<section id="menu-main" class="menu-accordion">
<%= render 'public/accordion_menu' %>
</section>
<section id="menu-collections" class="menu-accordion">
<%= render 'public/accordion_menu' %>
</section>
<section id="menu" style="display:none;">
<nav id="menu-drill" role="navigation">                
 <ul>
	 <li><h3><em>Main Menu</em></h3><a class="link-blocker"></a></li>
	 <li id="user-prefs">
      <a href="#">Preferences</a>
      <h2>Preferences</h2>
      <ul>
		  <li class="drop-hdr"><em><%= Perspective.model_name.human.titleize.s %></em></li>
<%=       render 'public/perspective_list' %>
		  <li class="drop-hdr"><em><%= View.model_name.human.titleize.s %></em></li>
<%=       render 'public/view_list' %>
	  </ul>
<%  perspective_path = change_perspective_session_path('a').chop
    view_path = change_view_session_path('a').chop %>
<%= javascript_on_load("$('body').on('ifChecked', 'input.optionperspective', function() { window.location.pathname = '#{perspective_path}' + $(this).val(); });") %>
<%= javascript_on_load("$('body').on('ifChecked', 'input.optionview', function() { window.location.pathname = '#{view_path}' + $(this).val(); });") %>
  </li>
  <li><a href="https://wiki.shanti.virginia.edu/display/KB/UVa+Mediabase" target="_blank">Help</a></li>
<% if logged_in? %>
     <li><%= link_to 'Admin', admin_root_path, {:hreflang => 'Manage places.'} %></li>
<% end %>
  <li><%= login_status %></li>
</ul></nav>
</section><!-- END menu -->